*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
  }
a{
    color: #d8d8d8;
    text-decoration: none;
}
body{
    background-color: #232529;
    font-size: 24px;
    color: beige;
}


/* header */

header{
    min-height: 500px;
    width: 840px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}
.header__info p {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    color: #8c8c8c;
}
p>strong{
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, #e32330, #2747ff, #ece51f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.option{
    display: grid;
    gap: 30px;
    justify-content: space-around;
    justify-items: center
}
.option input{
    display: none;
}
.option__toggle {
    display: flex;
    align-items: center;
}
.option__toggle label {
    background-color: #555;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.option__toggle input:checked + label {
    background-color: #417ad5;
    box-shadow: 0 0 10px;
}
.option__wrapper{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 370px;
}
.difficulty-button {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.difficulty-button.easy { background-color: #498b4b; }
.difficulty-button.normal { background-color: #4081b6; }
.difficulty-button.hard { background-color: #924e49; }
.option__wrapper input:checked + label{
    box-shadow: 0 0 20px;
}


.cheatSheet__colors{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.cheatSheet__colors>div{
    margin: 5px 5px;
    width: 130px;
}
.option__cheatSheet{
    background-color: #2d333f9d;
    border-radius: 5px;
}
.cheatSheet__buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
button{
    width: 200px;
    height: 80px;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cee3f2, -5px -5px 10px #faffff;
    
}
button:active {
    box-shadow: inset 5px 5px 10px #cee3f2, inset -5px -5px 10px #faffff;
}


/* main */

.wrapper{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
    height: 100vh;
    text-align: center;
}
aside{
    grid-row: 1/12;
    background-color: #2d333f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#retry{
    font-size: 0.8em;
}
.wrapper__score{
    grid-column:3/8;
    grid-row: 3/9;
    font-size: 2em;
}
.wrapper__sideBarLeft{
    grid-column: 1/2;
}
.wrapper__sideBarRight{
    grid-column: 9/10;
}
.wrapper__cheatSheet{
    grid-column: 3/8;
    grid-row: 11/12;
    color: #d8d8d8;
    background-color: #232529;
    display: flex;
    flex-direction: row;
}
.wrapper__cheatSheet>div{
    background-color: #2a2f3b;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px #506596;
}
.wrapper__cheatSheet>div:active {
    transform: scale(0.95);
    animation: pulse 0.1s ;
}
.wrapper__cheatSheet>.active {
    transform: scale(0.85);
}
.wrapper__counterSheet{
    grid-column: 5/6;
    grid-row: 1/2 ;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 5px;
}
.wrapper__main{
    grid-column:3/8;
    grid-row: 3/9;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-content: space-evenly;
    font-size: 1.5em;
    border: solid #2d333f;
}
.colorWord{
    animation: glosAnimate 5s linear infinite;
}
@keyframes glosAnimate{
    0%{
        text-shadow: 0 0 5px;
    }
    25%{
        text-shadow: 0 0 20px;
    }
    50%{
        text-shadow: 0 0 30px;
    }
    75%{
        text-shadow: 0 0 20px;
    }
    100%{
        text-shadow: 0 0 5px;
    }
}

/* footer */
hr{
    color: #2d333f;
    background-color: #2d333f;
    border: none;
    height: 2px;
}
footer{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
    justify-items: center;
    height:64px;
}
footer>p{
    grid-column: 2/5;
    text-align: end;
}
footer img{
    height: 48px;
}

.hidden{
    display: none;
}